.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ant-layout-header {
  background: #ec1d24;

  h1 {
    color: rgba(255, 255, 255, 0.65);
  }
}

.ant-layout-content {
  padding-top: 65px;
  .card-content {
    height: 100vh;
    position: fixed;
    right: 0px;
    min-width: 66.66666667%;
    .ant-card {
      height: 100%;
      .ant-card-cover {
        height: 45%;
        img {
          width: auto;
          left: 50%;
        }
      }
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
